.admin-panel {
    position: relative;
    width: 100%;
    height: 100vh;
    display: table;
    z-index: 1;
    background-size: cover;
    background-position: center center;
    background-image: url("../images/register-login-image.jpg");
}

.admin-panel-panel {
    width: 100%;
    max-width: 100%;
    padding-top: 15vh;
    z-index: 1;
    text-transform: uppercase;
}

.admin-panel-button {
    width: 60% !important;
}

.admin-panel-button-car {
    background-color: crimson !important;
    border-color: #a50c22 !important;
}
