.our-cars-pg-header {
    position: relative;
    width: 100%;
    height: 45vh;
    display: table;
    z-index: 1;
    background-size: cover;
    background-position: center center;
    background-image: url("../images/our-cars-header.jpg");
}

.our-cars-pg-container {
    width: 100%;
    max-width: 100%;
    padding-top: 15vh;
    z-index: 1;
    color: white;
    text-transform: uppercase;
}

.our-cars-header-text h1 {
    font-size: 3.8rem;
    font-weight: 700;
    letter-spacing: .1rem;
    text-shadow: .2rem .2rem .8rem red;
    padding-bottom: .5rem;
}

.our-cars-header-text h3 {
    font-size: 1.5rem;
    text-shadow: .2rem .2rem .8rem black;
    padding-bottom: 1.5rem;
}

.product-container {
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative;
}

.product-card {
    position: relative;
    width: 310px;
    height: 450px;
    background: #b9bbbe;
    border-radius: 10px;
    border: 2px #d7d7d7;
    box-shadow: 0px 0px 20px 0px rgba(255, 33, 65, 0.95);
    overflow: hidden;
}

.product-box-img {
    height: 50%;
}

.product-box-img img {
    position: absolute;
    width: 100%;
    z-index: 100;
    left: 50%;
    transform: translateX(-50%);
    top: 20%;
    transition: 0.7s;
}

.product-box-img:before {
    content: "";
    border-top: 250px solid crimson;
    border-left: 250px solid transparent;
    position: absolute;
    right: 0;
    z-index: 0;
}

.product-box-content {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 12%;
    text-align: center;
    transition: 0.7s;
    z-index: 10;
    background: #e1e1e1;
    border-radius: 10px;
}

.featured-owl-carousel .owl-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-card:hover .product-box-content {
    height: 210px;
}

.product-card:hover .product-box-img img {
    top: 10%;
    width: 90%;
}

.product-box-content .product-order-button {
    width: 50%;
    height: 40px;
    color: #e3342f;
    border-color: #e3342f;
    border-radius: 10px;
    font-weight: bold;
}

.product-box-content .product-order-button:hover {
    color: #fff;
    background-color: #e3342f;
    border-color: #e3342f;
}

.all-cars-container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.all-cars-card {
    min-height: 400px !important;
    border: 2px solid rgba(116, 123, 129, 0.5) !important;
}

.all-cars-card .all-cars-img-container {
    height: 160px !important;
}

.all-cars-card .all-cars-img-container img {
    width: 15vw !important;
    position: relative;
    transition: 0.7s;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 50%;
}

.all-cars-card:hover .all-cars-img-container img {
    width: 18vw !important;

}
@media screen and (max-width: 767px) {
    .our-cars-header-text h1 {
        font-size: 2.3rem;
        letter-spacing: .15rem;
        padding-bottom: .5rem;
    }
    .our-cars-header-text h3 {
        font-size: 1.2rem;
        padding-bottom: 1.2rem;
    }
}

@media screen and (max-width: 576px) {
    .all-cars-img-container img {
        width: 70% !important;
    }
}
